:root {
    --primary-color: #a00c0c;
}

body {
    text-align: center;
    background-image: url("money.jpg");
    background-size: 100%;
    padding-left: 2rem;
    padding-right: 3rem;
    margin-bottom: 20%;
}

label {
    display: block;
    padding-bottom: 2rem;
    margin-bottom: -2%;
    margin-top: 3%;
    font-size: x-large;
    color: #5aeebd;
}

header {
    color: var(--primary-color);
}

button {
    font-size: large;
    background-color: #ee5050;
    margin-top: 3%;
    border-radius: 0.5rem;
    border-color: #ee5050;
}

button:hover {
    background-color: #047857;
}

input {
    margin-top: 0px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-color: #ee5050;

}

#output-box {
    text-align: center;
    margin-top: 3%;
    font-size: x-large;
    color: #104933;
}